h5py~=3.10.0
haversine~=2.8.0
ipython~=8.20.0
matplotlib~=3.8.0
numpy~=1.26.0
pandas~=2.2.0
scikit-learn~=1.4.0
scipy~=1.12.0
shapely~=2.0.2
setuptools>=68.0.0
tensorboard~=2.16.0
tensorflow~=2.16.1
tf_keras~=2.16.0
tqdm~=4.66.0
utm~=0.7.0
